services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:14
    container_name: wg-easy
    environment:
      - WG_HOST=<VPS external IP>
      - INSECURE=true
      - INIT_IPV4_CIDR=10.8.0.0/24
      - INIT_IPV6_CIDR=2001:0DB8::/32
    volumes:
      - ./wg-easy-data:/etc/wireguard
      - /lib/modules:/lib/modules:ro
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./init.sh:/usr/local/bin/init.sh
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv4.ip_forward=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    restart: unless-stopped
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a
networks:
  wg:
    external: true
    driver: bridge
    enable_ipv6: true

